/* Universal */

* {
    font-family: Helvetica;
    color: seashell;
    opacity: 0.9;
}

h4 {
    text-align: center;
}

body {
    background-color: black;
}

h6 {
    float: right;
    font-family: "Dancing Script";
    font-size: 25px;
}

/* Top Flexbox Containers */

.teaCozyContainer {
    display: flex;
    justify-content: space-between;

    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid seashell;
    padding-bottom: 9.5px;
    padding-top: 9.5px;
}

.navBarContainer {
    display: inline-flex;
    align-items: center;
}

.navBarContainer h4 {
    margin-left: 20px;
    text-decoration: underline;
    
}


.navBarContainer h4:hover {
    color: #6F4E37;
    cursor: pointer;
    font-size: 22px;
    font-family: "Dancing Script";
    text-decoration: none;
}

.navBarContainer h4:active {
    text-decoration: none;
    color: seashell;
    text-shadow: 0px 0px 0px seashell;
    font-size: 23px;
    margin-left: 17px;
}

/* Our Mission Flexbox Container */

.ourMissionContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 700px;
    width: 1200px;
    background: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*12ug9lt*_ga*Nzg4MjM2MTQ2NC4xNjc0MDk2NTMz*_ga_3LRZM6TM9L*MTY3NTAxMTI2Ni45OC4xLjE2NzUwMTEyNzMuNTMuMC4w");
    margin: 0 auto;
    margin-bottom: 80px;
}

.ourMission {
    background-color: black;
    width: 100%;
    opacity: 1;
    text-align: center;
}

/* Tea of the Month Flexbox */

.teaOfTheMonthHeader h2 {
    text-align: center;
    margin-top: 40px;
}

.tea-container-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tea-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teaImageContainer img {
    width: 300px;
    height: 200px;
}

.teaImageContainer h4 {
    margin-top: 10px;
}

.flexbox-item-1,
.flexbox-item-2,
.flexbox-item-3,
.flexbox-item-4 {
    margin-right: 30px;
}

.flexbox-item-1 img:hover,
.flexbox-item-2 img:hover,
.flexbox-item-3 img:hover,
.flexbox-item-4 img:hover,
.flexbox-item-5 img:hover {
    box-shadow: 0px 0px 15px seashell;
    cursor: pointer;
}

.flexbox-item-1 img:active,
.flexbox-item-2 img:active,
.flexbox-item-3 img:active,
.flexbox-item-4 img:active,
.flexbox-item-5 img:active {
    box-shadow: 0px 0px 25px seashell;
    width: 305px;
    height: 202.5px;
}


/* Locations Flexbox Containers */

.locations {
    font-family: "Dancing Script";
    font-size: 45px;
    font-weight: 500;
    margin-top: 5px;
    text-shadow: 2px 1px 2px black;
}

.location-header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 90px;
    text-align: center;
}

.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*1y678vo*_ga*Nzg4MjM2MTQ2NC4xNjc0MDk2NTMz*_ga_3LRZM6TM9L*MTY3NTAxMTI2Ni45OC4xLjE2NzUwMTEyNzMuNTMuMC4w");
    background-size:stretch;
    width: 1200px;
    height: 570px;
    margin: 0 auto;
    margin-top: 40px;

    position: relative;
}

.flexbox-item {
    background-color: black;
    width: 300px;
    margin-right: 40px;
    text-align: center;
    opacity: 0.8;
}

.flexbox-item:hover {
    box-shadow: 10px 10px 50px black;
    cursor: pointer;
    background-color: #6F4E37;
}

.flexbox-item:active {
    width: 305px;
    height: 182.5px;
    box-shadow: 0px 0px 20px seashell;
}


/* Contact */

.contact {
    text-align: center;
}

.contact-container {
    height: 160px;
    margin-top: 40px;
}

.email:hover {
    color: #6F4E37;
    font-family: "Dancing Script";
    font-size: 20px;
    margin: -5px 0px -1px 0px; 
}

.contact a:hover {
    text-decoration: none;
}

.email:active {
    color: seashell;
    font-family: "Dancing Script";
    font-size: 21px;
    margin: -5px 0px -2.5px 0px;
}

/* Footer */

footer {
    text-align: left;
    margin-left: 10px;
    border-top: 1px solid seashell;
    position: sticky;
    bottom: 0;
    background-color: black;
    padding-bottom: 5px;
}

footer img {
    width: 100px;
    height: 50px;
    float: right;
    margin-top: -52px;
}

/* Codecademy H6 Tag */

.codecademy {
    margin-top: 10px;
    margin-bottom: 10px;
}

.codecademy:hover {
    color: #6F4E37;
    font-size: 25.5px;
}

.codecademy:active {
    color: seashell;
    font-size: 26px;
}

.codecademy2 {
    margin-top: 60px;
    padding-bottom: 5px;
    margin-right: -290px;
    float: right;
}

